@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/unbounded');

body {
    font-family: 'Unbounded', sans-serif;
                                                                                   
}

.wavy-text {
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0);

    
}

nav a {
    transition: all 0.8s ease-in-out;
}

nav a:hover {
    color: #FC4100;
}