@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/unbounded');

body {
    font-family: 'Unbounded', sans-serif;
    background-image: url('../src/assets/background.png');
    
                                                                                   
}

.wavy-text {
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0);

    
}

nav a {
    transition: all 0.8s ease-in-out;
}

nav a:hover {
    color: #FC4100;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .mandala {
    animation: rotate infinite 76s linear;
  }